<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>404 Page Not Found</title>
        <link rel="preload" href="/build/css/styles.css" as="style">
        <link rel="stylesheet" href="/build/css/styles.css">
    </head>
    <body>
        <main class="container section">
            <h1>404 Page Not Found</h1>
            <p class="text-center">The page you are looking for does not exist.</p>
            <p class="text-center">Please check the URL or go back to the previous one.</p>
        </main>
    </body>
</html>