$negro: #000000;
$naranja: #E08709;;
$verde: #71B100;
$verdeClaro: #82E0AA;
$verdeOscuro: #196F3D;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$turquesa: #45B39D;
$rojoClaro: #F15959;
$granate: #9F0000;
$rojo: #FB0404;
$azul: #5DADE2;