@use '../base/colours' as c;
@use '../base/fonts' as f;
@use '../base/mixins' as m;


.contenedor-solicitudes
{
    @include m.flex($direction:column, $gap: 2rem);
    @include m.tablet
    {
        @include m.grid($columns: repeat(2,1fr), $gap: 3rem);
    }
    @include m.desktop
    {
        @include m.grid($columns: repeat(3,1fr), $gap: 3rem);
    }
}
.solicitud
{
    text-align: center;
    padding: 2rem;
    background-color: c.$gris;
    border: 1px solid darken(c.$gris,10%);
    &__detalles-contacto
    {
        @include m.flex($justify: center, $align: center, $gap: 1rem);

        &--icono
        {
            width: 3rem;
        }
    }

    &__gestionada
    {
        @include m.boton($bkg-color: c.$naranja, $color: c.$blanco, $display: block, $darken-transition:true);
    }
}